[submodule "UERP_Ref/UE5NiagaraComputeShaderIntegration"]
	path = UERP_Ref/UE5NiagaraComputeShaderIntegration
	url = https://github.com/Shadertech/UE5NiagaraComputeShaderIntegration
[submodule "UERP_Ref/SceneViewExtensionTemplate"]
	path = UERP_Ref/SceneViewExtensionTemplate
	url = https://github.com/A57R4L/SceneViewExtensionTemplate
[submodule "UERP_Ref/UE5HelloTriangle"]
	path = UERP_Ref/UE5HelloTriangle
	url = https://github.com/Pikachuxxxx/UE5HelloTriangle
[submodule "UERP_Ref/UnrealExtendedGraphicsProgrammingDemo"]
	path = UERP_Ref/UnrealExtendedGraphicsProgrammingDemo
	url = https://github.com/heyx3/UnrealExtendedGraphicsProgrammingDemo
[submodule "UERP_Ref/UE5CustomSSGI"]
	path = UERP_Ref/UE5CustomSSGI
	url = https://github.com/whlee503/ue5_custom_ssgi
[submodule "UERP_Ref/ComputeShaderDemo"]
	path = UERP_Ref/ComputeShaderDemo
	url = https://github.com/brohaooo/ComputeShaderDemo
[submodule "UERP_Ref/UE5GPURuntimeTessellation"]
	path = UERP_Ref/UE5GPURuntimeTessellation
	url = https://github.com/przemek-em/UE5-GPURuntimeTessellation
[submodule "UERP_Ref/UE5ToneMapFX"]
	path = UERP_Ref/UE5ToneMapFX
	url = https://github.com/przemek-em/UE5-ToneMapFX
[submodule "UERP_Ref/UE5ClassicBloomFX"]
	path = UERP_Ref/UE5ClassicBloomFX
	url = https://github.com/przemek-em/UE5-ClassicBloomFX
[submodule "UERP_Ref/CompushadyUnreal"]
	path = UERP_Ref/CompushadyUnreal
	url = https://github.com/rdeioris/CompushadyUnreal
